 /* =========================
   SIDEBAR
========================= */
app-sidebar {
  position: fixed;
  top: 56px;
  left: 0;
  width: 250px;
  height: calc(100vh - 56px);
  transition: transform 0.3s ease;
}

/* sidebar fermée */
app-sidebar.closed {
  transform: translateX(-100%);
}

/* =========================
   MAIN CONTENT (RESPONSIVE FIX)
========================= */
.main-content {
  margin-left: 250px;
  margin-top: 70px;
  padding: 25px;
  background: #f5f7fb;
  min-height: 100vh;
  transition: all 0.3s ease;
}

/* quand sidebar fermée */
.main-content.expanded {
  margin-left: 0;
  width: 100%;
}

/* =========================
   TABLET + MOBILE
========================= */
@media (max-width: 992px) {

  app-sidebar {
    position: fixed;
    z-index: 2000;
  }

  .main-content {
    margin-left: 0 !important;
  }

  app-sidebar.closed {
    transform: translateX(-100%);
  }
}